.toggle-button {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &_checked &__check {
    opacity: 1;
  }

  &_checked &__uncheck {
    opacity: 0;
  }

  &_checked &__circle {
    left: 27px;
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }

  &__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__container {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #6342b4;
    transition: all .2s ease;
    border: 1px solid #fff;
  }

  &__circle {
    transition: all .5s cubic-bezier(.23, 1, .32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;
    box-sizing: border-box;
    transition: all .25s ease;
  }

  &__check,
  &__uncheck {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity .25s ease;
  }

  &__check span,
  &__uncheck span {
    align-items: center;
    display: flex;
    height: 10px;
    justify-content: center;
    position: relative;
    width: 10px;
  }

  &__check {
    left: 8px;
  }

  &__uncheck {
    opacity: 1;
    right: 10px;
  }

  &__switch {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}