@import 'shared/style/var.scss';

.footer {
  color: #3f4451;
  background-color: #6342b4;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  // &__divider {
  //   min-width: 100%;
  //   height: 1px;
  //   background-color: #fff;
  //   margin: 20px 0;
  // }
}