@import 'shared/style/var.scss';

.footer {
  color: #3f4451;
  background-color: #6342b4;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 0.625rem;
  z-index: 100;

  &__wrapper {
    width: max-content;
    padding: 0;
  }
}