@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&display=swap');

#root .rc-pagination {
  display: flex;
  flex-wrap: wrap;

  &>li {
    cursor: pointer;
    display: inline-block;
    height: 35px;
    min-width: 35px;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 2px;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s, opacity 0.25s ease 0s;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgb(238, 239, 243);
    outline: none;
  }

  &>li>a {
    color: rgb(160, 166, 171);
    text-decoration: none;
  }

  &>li.rc-pagination-prev .rc-pagination-item-link::before {
    content: '<';
    width: 14px;
  }

  &>li.rc-pagination-next .rc-pagination-item-link::before {
    content: '>';
    width: 14px;
  }

  &>li.rc-pagination-jump-next .rc-pagination-item-link::before {
    content: '...';
    width: 14px;
  }

  &>li.rc-pagination-jump-prev .rc-pagination-item-link::before {
    content: '...';
    width: 14px;
  }

  &>li.rc-pagination-item-active {
    background-color: #6342b4;
  }

  &>li.rc-pagination-item-active>a {
    color: #fff;
  }

  &>.rc-pagination-options {
    display: none;
  }
}

body {
  margin: 0;
  font-family: 'Baloo 2', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
  line-height: 1.42857143;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-width: 0;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}