.card-component {
  position: relative;
  width: 240px;
  height: 200px !important;
  overflow: hidden;
  margin-bottom: 10px;
  z-index: 100;

  &__img {
    position: relative;
    height: 140px !important;

    img {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -51%) !important;
      object-fit: cover !important;
    }
  }

  &__body {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.3;
    padding: 4px 4px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0 !important;
  }

  &_isClosing {
    animation: closingCard .4s;
  }
}

@keyframes closingCard {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .75;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .25;
    transform: translateY(40px);
    z-index: 101;
  }

  100% {
    opacity: 0;
    transform: translateY(40px);
    z-index: 101;
  }
}